.h1-brand-title {
    font-family: 'Grandstander', serif;
    font-size: 48px;
    text-decoration: none;
    margin: 0;
}

.nav-lower {
    height: 80px;
}

.nav-upper {
    align-items: center;
    display: grid;
    height: 128px;
    margin: auto;
    width: 960px;
}

.nav-upper > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.nav-upper > *:last-child {
    justify-self: right;
}
