.h1-brand-title {
    color: #000000;
    font-family: 'Grandstander', serif;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
}

.nav-lower {
    line-height: 80px;
}

.nav-upper {
    align-items: center;
    display: grid;
    height: 128px;
    margin: auto;
    width: 960px;
}

.nav-upper > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.nav-upper > *:last-child {
    justify-self: right;
}

.nav-button {
    background-color: #FABE28;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'KoHo', serif;
    font-size: 28px;
    height: 100%;
    text-decoration: none;
    width: 320px;
}
